body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(44, 44, 92);
}

Button {
  background-color: rgb(113, 113, 197);
  color: white;
  border: 0px;
  padding: 4px 4px;
  width: fit-content;
  margin: auto;
}

Button:hover {
  background-color: rgb(137, 137, 233);
  cursor: pointer;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px auto;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0px 10px 10px;
}

.contactForm input {
  border-radius: 2px;
  margin-bottom: 2px;
  padding: 4px 8px;
}
.contactForm select {
  border-radius: 6px;
  margin-bottom: 2px;
  padding: 3px 3px;
}

.titleBar {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.33em;
  padding: 10px 0px;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
  width: 60%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.contactCard {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  padding: 5px 10px;
  border: 1px solid black;
}

.contactInfo {
  padding-right: 20px;
}
.contactName {
  font-size: 1.33em;
  font-weight: bold;
  margin: 3px 0px;
}
.contactEmail {
  margin-top: 0px;
  font-size: 0.67em;
  color: #b3b3b3;
}

.status {
  font-size: 0.67em;
  margin-top: 0px;
  margin-bottom: 3px;
}

.deleteButton {
  color: red;
  border: 0px;
  background-color: transparent;
  font-size: 40px;
  padding-left: 10px;
  font-weight: bold;
}
.deleteButton:hover {
  background-color: transparent;
  color: rgb(211, 87, 87);
  cursor: pointer;
}
